[submodule "experiments/json/shared-objects/libs/v8/v8"]
	path = experiments/json/shared-objects/libs/v8/v8
	url = https://github.com/j-moeller/v8.git
	branch = crossy
	shallow = true
[submodule "ext/llvm-project"]
	path = ext/llvm-project
	url = https://github.com/j-moeller/llvm-project.git
	branch = crossy
	shallow = true

[submodule "src/java/paco-agent/jacoco"]
	path = src/java/paco-agent/jacoco
	url = https://github.com/j-moeller/jacoco.git
	branch = crossy
	shallow = true

